.profile__container {
  max-width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  margin: 74px 0 123px;
}

@media screen and (max-width: 768px) {
  .profile__title {
    margin: 236px 0 96px;
  }
}

.profile__label {
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.27;
  margin: 0;
  border-bottom: 1px solid #E8E8E8;
  display: grid;
  grid-template-columns: 141px 1fr;
  padding: 0 0 16px;
}

.profile__label:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding: 16px 0 0;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.27;
  text-align: right;
  color: #000000;
  background-color: transparent;
  border: none;
}

.profile__input:focus {
  outline: none;
}

.profile__input-group {
  margin: 189px 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .profile__input-group {
    margin: 210px 0 0;
  }
}

.profile__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.27;
  color: #EE3465;
  display: block;
  margin: 0 0 20px;
  text-align: center;
  height: 14px;
}

.profile__button {
  display: inline-flex;
  align-self: center;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  padding: 0;
}

.profile__button:hover {
  cursor: pointer;
}

.profile__button-signout {
  font-weight: 500;
  color: #FF004D;
  margin: 16px 0 0;
}

.profile__button-save {
  background-color: #3456F3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s linear;
  align-self: revert;
}

.profile__button-save:hover {
  background-color: rgba(52, 86, 243, 0.8);
}

.profile__button-save_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}

.profile__button-save_disabled:hover {
  background-color: rgba(248, 248, 248, 0.8);
}

