.footer__container {
  padding: 79px 70px 20px;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__container {
    padding: 79px 10px 10px;
  }
}

.footer__text {
  margin: 0;
  padding: 0 0 20px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  background-color: transparent;
  text-align: center;
  border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 320px) {
  .footer__text {
    font-size: 12px;
    line-height: 1.25;
    padding: 0 0 21px;
  }
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .footer__menu {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
}

.footer__copyright {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    color: #A0A0A0;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 30px;
  }
}

.footer__nav {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.footer__link {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 12px;
    line-height: 1.25;
  }
}
